data_zenodo/W22TIL01_pheno.csv
data_zenodo/W22TIL03_pheno.csv
data_zenodo/W22TIL11_pheno.csv
data_zenodo/W22TIL14_pheno.csv
data_zenodo/W22TIL25_pheno.csv
data_zenodo/W22TIL01_geno_imputed_flanking.csv
data_zenodo/W22TIL03_geno_imputed_flanking.csv
data_zenodo/W22TIL11_geno_imputed_flanking.csv
data_zenodo/W22TIL14_geno_imputed_flanking.csv
data_zenodo/W22TIL25_geno_imputed_flanking.csv